@media screen and (max-width:1000px){
    .get-container-container{
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    .query-title-container{
        grid-column-start: 1;
        grid-column-end:1;
    }
    #query-container{
        grid-template-columns:auto;
    }
}
